@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-hide {
  scrollbar-width: none;
}

@layer components {
  .image-size {
    @apply w-40 h-40 lg:w-50 lg:h-50;
  }

  .image-bg {
    @apply bg-white/30 text-black/30 hover:bg-gradient-to-br hover:from-[#e9b8a6]/30 hover:to-[#9e84d6]/30 hover:text-black/60 border-white/20;
  }
}
